.pytest*
.idea
__pycache__*
*/__pycache__/*
/TGL/
.ipynb_checkpoints*
/Datasets/PhysioNet_2012/
/Datasets/OU_Gait/
/Datasets/nntimeseries/
/Datasets/CMPC/
/Datasets/BRITS/
/.mypy_cache/
/References/*
/lightning_logs/*/hparams.yaml
lightning_logs/*/events.*
/Datasets/nntimeseries/
/Playground/logs/
qc

 q/archived_logs/
/lightning_logs/
/archived_logs/
/Datasets/Beijing/data/raw/pm2_5_data_10.pkl
/Datasets/GRIN_Data/
