.pytest*
.idea
__pycache__*
*/__pycache__/*
/TGL/
.ipynb_checkpoints*
/Datasets/PhysioNet_2012/
/Datasets/OU_Gait/
/Datasets/nntimeseries/
/Datasets/CMPC/
/Datasets/BRITS/
/.mypy_cache/
/References/*
/lightning_logs/*/checkpoints
/lightning_logs/*/hparams.yaml
lightning_logs/*/events.*
